
body {
    width: 100%;
}

.navtop {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:block;
    text-align: right;
}

ul.navtop li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.tbody {
    text-align: center;
}

.image {
    padding: 80px 0 0 0;
    width: 272px;
    height: 92px;
}

.inputField {
    margin-top: 15px;
    width: 550px;
    height: 36px;
    font-size: 1.5em;
}

button {
    margin-top: 20px;
    width: 125px;
    height: 30px;
}

.bottom-upper-navbar {
    border-bottom: solid 1px #e7e7e7
}


.bottom-bottom-navbar {
    
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 99%;
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.bot-right {
    float: right;
}

.bot-left {
    float:left;
}

li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}